{% extends "base.html" %}


{% block content %}
        {% for sb in envs %}
            {# first cycle prints  row, second- "", third -"" #}
            {% cycle "<div class='row margin-top-20'>" "" "" %}
            <div class="col-lg-4">
                <div class="card panel-primary">
                    <div class="card-header">
                        <i class="fa fa-server fa-fw"></i> {{ sb.name }} - {{ sb.template }}
                        <span class="pull-right text-muted small">
                            <ul class="nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       role="button" aria-haspopup="true" aria-expanded="false">Action</a>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Start</a>
                                        <a class="dropdown-item" href="#">Stop</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Redeploy</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Destroy</a>
                                    </div>
                                </li>
                            </ul>

                        </span>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-block">
                        <div class="list-group">
                            {% for vm in sb.vms.all %}

                                <a href="#vm_{{ vm.pk }}" class="list-group-item " data-toggle="collapse"
                                    aria-expanded="false" aria-controls="vm_{{ vm.pk }}" data-parent="#accordion">

                                    <i class="fa  fa-fw"></i>{{ vm.hostname }}
                                    <span class="pull-right text-muted small"><em>{{ vm.role }}</em>
                                    </span>

                                </a>

                                <div id="vm_{{ vm.pk }}" class="collapse">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <i class="fa fa-cogs fa-fw"></i> IP
                                            <span class="pull-right text-muted small">
                                                <em>{{ vm.ip_address }}</em>
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-user fa-fw"></i> Login: {{ vm.login }}
                                            <span class="pull-right text-muted small">
                                                <em>Pwd:  {{ vm.password }}</em>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                             {% endfor %}
                        </div>
                        <!-- /.list-group -->
                    </div>
                    <!-- /.card-block -->
                </div>
                <!-- /.card -->
            </div>
            {# every 3rd time close row element declared on the top cycle #}
            {% cycle "" "" "</div>" %}
             <!-- ./row -->
        {% endfor %}
{% endblock %}


{% block modal %}
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="createModalLabel">Create new Sandbox</h4>
                </div>
                <form action="{% url 'sandbox:create' %}" method="post">
                    <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input type="text" class="form-control " id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="template" class="control-label">Template:</label>
                                <select id="template" name="template" class="form-control">
                                    {% for tpl in vm_templates %}
                                        <option id="{{ tpl.pk }}"> {{ tpl.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
